<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment.html :: cabecera"> </head>
<body>
<div th:replace="fragment.html :: navbar"></div>
</div>
<br>
<div class="row-fluid" style=" width: 80%; padding:0 10%;">

    <div class="span10">
        <form th:if="${session.productoCarritoDeCompras.size() > 0}" class="form-horizontal" th:action="@{/user/comprar}" method="post">
            <table class="items table table-bordered">
                <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Precio</th>

                    <th>Cantidad</th>
                    <th>Editora</th>
                    <th>Distribuidora</th>
                </tr>

                </thead>
                <tbody>
                <tr th:each="producto : ${session.productosCarritoDeCompras}">
                    <th th:text="${producto.getCodigoproducto()}"></th>
                    <th th:text="${producto.getNombreproducto()}"></th>
                    <th th:text="${producto.precio}"></th>


                </tr>
                </tbody>
            </table>

            <div class="form-group">
                <span th:text="|Total ${session.totalPagar}|"></span>
            </div>
            <div class="control-group">
                <div class="controls">
                    <a th:href="@{'/pago'}" class=" btn btn-info btn-responsive btninter">Proceder a comprar</a>
                </div>
            </div>
            <input type="hidden" name="games" value="" >
        </form>
        <h2 th:unless="${session.productosCarritoDeCompras.size() >0}">Su carrito de compras está vacío</h2>
    </div>
</div>

</body>
</html>