<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/leftbar.html :: cabecera(titulo = 'producto')"></head>
<body>

<nav th:replace="fragments/leftbar.html :: navbar"></nav>

<div id="page-wrapper">
    <h2 class="page-header" th:text="${producto.getIdproducto() == 0? 'Nuevo producto' : 'Editar producto'}">
        Nuevo/Editar</h2>
    <div id="page-inner">

        <div class="row">
            <div  class="col-md-8">
                <div class="card">
                    <div class="container padding ">

                        <div th:if="${msg1 != null}" th:text="${msg1}" class="alert alert-success"
                             role="alert"></div>
                        <div th:if="${msg2 != null}" th:text="${msg1}" class="alert alert-success"
                             role="alert"></div>

                        <form method="post" th:action="@{'/producto/uploadImage'}" enctype="multipart/form-data"  th:object="${producto}">
                            <input type="hidden" th:field="*{idproducto}"/>


                            <div th:if="${producto.idproducto == 0}" class="form-group">
                                <label for="codigoproducto">Codigo</label>
                                <input type="text" class="form-control" th:field="*{codigoproducto}" style="width: 25%">
                                <div class="text-danger" th:if="${#fields.hasErrors('codigoproducto')}" th:errors="*{codigoproducto}"></div>
                            </div>

                            <div class="form-group">
                                <label for="nombreproducto">Nombre producto</label>
                                <input type="text" class="form-control" th:field="*{nombreproducto}" style="width: 25%">
                                <div class="text-danger" th:if="${#fields.hasErrors('nombreproducto')}" th:errors="*{nombreproducto}"></div>
                            </div>
                            <div class="form-group">
                                <label for="descripcionproducto">Descripción</label>
                                <input type="text" class="form-control" th:field="*{descripcionproducto}" style="width: 25%">
                                <div class="text-danger" th:if="${#fields.hasErrors('descripcionproducto')}" th:errors="*{descripcionproducto}"></div>
                            </div>
                            <div th:if="${producto.idproducto == 0}" class="form-group">
                                <label for="precio">Precio</label>
                                <input type="text" class="form-control" th:field="*{precio}" style="width: 25%">
                                <div class="text-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
                            </div>
                            <div class="form-group">
                                <label for="stock">Stock</label>
                                <input type="text" class="form-control" th:field="*{stock}" style="width: 25%">
                                <div class="text-danger" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></div>
                            </div>

                            <div>
                                <input th:if="${producto.idproducto == 0}" type = "file" name ="imageFile">

                            </div>



                            <a th:href="@{'/producto'}" class=" btn btn-info btn-responsive btninter">Cancelar</a>
                            <button type="submit" class=" btn btn-info btn-responsive btninter rigth"
                                    th:text="${producto.idproducto == 0? 'Registrar' : 'Actualizar'}">Reg/act
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






</body>
</html>