<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/leftbar.html :: cabecera(titulo='Lista de productos')">
</head>
<body>
<nav th:replace="fragments/leftbar.html :: navbar"></nav>


    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                Lista de Productos
            </h1>
        </div>
        <div id="page-inner">
            <div class="col-xs-4">
                <form class="header " method="post" th:action="@{'/producto/search'}">
                    <input type="text" class="form-control" placeholder="Texto a buscar" name="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary " type="submit">Buscar</button>
                        <a th:href="@{'/producto'}" class="btn btn-outline-danger">Limpiar</a>
                    </div>
                </form>
            </div>


            <!-- /. COMUNIDAD  -->
            <div class="row " >
                <div class="col-md-8 padding">
                    <div class="card">
                        <div class="card-action">
                            <a class="btn btn-primary right" th:href="@{'/producto/nuevo'}">agregar</a>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <div th:if="${msgAr != null}" th:text="${msgAr}" class="alert alert-success"
                                     role="alert"></div>
                                <table class="table">
                                    <tbody>
                                    <tr th:each="producto : ${listaProductos}">

                                <div class="container py-5">
                                    <div class="row text-center text-white mb-5">
                                        <div class="col-lg-7 mx-auto">
                                            <h1 class="display-4">Product List</h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 mx-auto">
                                            <!-- List group-->
                                            <ul class="list-group shadow">
                                                <!-- list group item-->
                                                <li class="list-group-item">
                                                    <!-- Custom content-->
                                                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                                        <div class="media-body order-2 order-lg-1">
                                                            <h5 class="mt-0 font-weight-bold mb-2" th:text="${producto.codigoproducto}">ABC</h5>
                                                            <p class="mt-0 font-weight-bold mb-2" th:text="${producto.nombreproducto}">Nombre Producto</p>
                                                            <p class="mt-0 font-weight-bold mb-2" th:text="${producto.precio}">Precio</p>
                                                            <p class="mt-0 font-weight-bold mb-2" th:text="${producto.stock}">Stcok</p>

                                                        </div>
                                                    </div> <!-- End -->
                                                </li> <!-- End -->

                                            </ul> <!-- End -->
                                        </div>
                                    </div>
                                </div>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8">
                                        <ul th:if="${last != 1}" class="pagination justify-content-center">
                                            <li class ="page-item" th:if="${current != 1 }">

                                                <a class="page-link" th:href="@{'/producto' + '?page=' + ${prev}} "> Anterior </a>
                                            </li>

                                            <li class ="page-item" th:each="page:${pages}" th:classappend="${current == page ? 'active' : ''}" >

                                                <a class="page-link" th:href="@{'/producto' + '?page=' + ${page}} " th:text="${page}"  ></a>
                                            </li>

                                            <li class ="page-item" th:if="${current != last }">

                                                <a class="page-link"  th:href="@{'/producto' + '?page=' + ${next}} "> Siguiente </a>
                                            </li>

                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End  Kitchen Sink -->
                </div>
            </div>
        </div>
    </div>
</body>

</html>
